# ######################
# Optional properties
# #####################
# tomcat_service_dir    required if using s6
# tomcat_webapps

# Convention over configuration
tomcat_install_root:          "{{ polaris_apps_service_install_home }}"
tomcat_install_root_current:  "{{ polaris_apps_service_home }}/current"
tomcat_data_dir:              "{{ polaris_apps_service_data_home }}/tomcat"
tomcat_log_dir:               "{{ polaris_apps_service_logs_home }}"
tomcat_service_dir:           "{{ polaris_apps_service_s6_home }}"
tomcat_port:                  "{{ polaris_apps_service_port }}"

# The location where to download Apache Tomcat from.
tomcat_mirror:              "https://archive.apache.org"

# general
tomcat_install_dir:         "{{ tomcat_install_root }}/tomcat"
tomcat_install_dir_current: "{{ tomcat_install_root_current }}/tomcat"
tomcat_webapp_dir:          "{{ tomcat_install_root }}/webapps"
tomcat_webapps:             []
tomcat_major_version:       '10'
tomcat_work_dir:            "{{ tomcat_data_dir }}/work"
tomcat_temp_dir:            "{{ tomcat_data_dir }}/temp"
tomcat_pid_file:            "{{ tomcat_work_dir }}/catalina.pid"
tomcat_use_https:           yes
tomcat_use_ajp:             false
tomcat_keystore_file:       "{{ tomcat_install_root }}/.keys/key.jks"
tomcat_https_port:          8001
tomcat_ajp_port:            8001
tomcat_set_as_current:      yes
tomcat_download_tmp_dir:    "/tmp"
tomcat_install_user:        "{{ polaris_install_user }}"
tomcat_run_user:            "{{ polaris_service_user }}"
tomcat_s6_enabled:          "{{ s6_enabled | default('yes') }}"
tomcat_s6_home:             "{{ polaris_s6_home }}"
tomcat_s6_services:         "{{ polaris_s6_services_home }}"
tomcat_handler_style:       "{{ tomcat_s6_enabled | ternary('s6', 'default') }}"
tomcat_download_username:   "{{ artifactory_username }}"
tomcat_download_password:   "{{ artifactory_password }}"
tomcat_checksum_protocol:   "sha512"
using_alt_app_dir:          false
default_ssc_keystore_pass:  "{{ lookup('password', '/dev/null length=15 chars=ascii_letters') }}"

# setenv.sh
tomcat_java_home:         "{{ tomcat_install_root }}/jdk" # educated assumption based on conventions
tomcat_env_dict:          {}

# server.xml
tomcat_configure_server_xml:      yes
tomcat_access_log_prefix:         'localhost_access_log'
tomcat_access_log_extension:      '.log'
tomcat_access_log_pattern:        '%h %l %u %t &quot;%r&quot; %s %b'
tomcat_max_threads:               150
tomcat_unpack_wars:               yes
tomcat_auto_deploy:               yes
tomcat_deployOnStartup:           yes
tomcat_shutdown_port:             -1
tomcat_keystore_pass:             "{{ ssc_keystore_pass | default(default_ssc_keystore_pass) }}"
tomcat_jndi_resources:            []

# logging.properties
tomcat_configure_logging_properties:  yes
tomcat_log_level:                     'INFO'
tomcat_catalina_log_level:            "{{ tomcat_log_level }}"
tomcat_localhost_log_level:           "{{ tomcat_log_level }}"
tomcat_manager_log_level:             "{{ tomcat_log_level }}"
tomcat_host_manager_log_level:        "{{ tomcat_log_level }}"
