webapp_configure_log4j_enabled:   True
webapp_configure_context_enabled: True

webapp_log_dir:                   "{{ apps_logs }}/{{ pd_prop_project_name }}/{{ pd_prop_service_name }}"
webapp_log_level:                 'INFO'
webapp_root_log_level:            'INFO'
webapp_loggers:                   []
webapp_log_quartzdesk_enabled:    False

webapp_component:                 "{{ pd_prop_service_name }}"
webapp_tomcat_webapps_dir:        "{{ apps_home }}/{{ pd_prop_project_name }}/{{ pd_prop_service_name }}/{{ pd_prop_service_install_directory }}/webapps"

webapp_staging_dir:               "{{ apps_home }}/{{ pd_prop_project_name }}/{{ pd_prop_service_name }}"

webapp_user:                      "{{ install_user | default('wwwadm') }}"


# When dev-all-in-one was setup, someone decided on ojdbc7-12.1.3-0-0.jar
# as the default version for Ansible-based tomcat deployments, perhaps because
# of database versions at the time. This default may need to be updated in the future.
ojdbc_file: "ojdbc7-12.1.3-0-0.jar"
ojdbc_url: "http://apps.nrs.gov.bc.ca/pub/artifactory/ext-binaries-local/com.oracle"
skip_ojdbc_install: false

proxy_env_dev_test:
  https_proxy: http://test-forwardproxy.nrs.bcgov:23128

proxy_env_prod:
  https_proxy: http://forwardproxy.nrs.bcgov:23128
