[Unit]
Description={{ service_control_target | default("MyApp Service") }}
After=network.target

[Service]
Type=simple
ExecStart={{ service_control_systemd_script_start }}
{% if service_control_systemd_script_stop | default("") | trim != "" %}
ExecStop={{ service_control_systemd_script_stop }}
{% endif %}
Restart=always
EnvironmentFile=-{{ env_file | default("/etc/myapp.env") }}

[Install]
WantedBy=default.target