#!/usr/bin/env bash

cd "{{ polaris_apps_service_install_home }}"

source ./setenv.sh

if [ -f "./setenv-custom.sh" ]; then
    source "./setenv-custom.sh"
fi

{{ nodejs_app_node_home }}/bin/node {{ nodejs_app_node_options }} {{ nodejs_app_service_entrypoint }}
