<?xml version='1.0' encoding='utf-8'?>

<Server port="{{ tomcat_shutdown_port }}" shutdown="SHUTDOWN">
    <!-- TODO: are these worth parameterizing? -->
{% if tomcat_major_version != '8' %}
    <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
{% endif %}
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

    <GlobalNamingResources>
        {# https://tomcat.apache.org/tomcat-8.0-doc/config/globalresources.html #}
        {% for resource in tomcat_jndi_resources %}
        <Resource auth="Container"
            driverClassName="{{ resource.driver | default('oracle.jdbc.OracleDriver') }}"
            initialSize="{{ resource.initial_size | default('3') }}"
            maxActive="{{ resource.max_active | default('10') }}"
            maxIdle="{{ resource.max_idle | default('20') }}"
            maxWait="{{ resource.max_wait | default('-1') }}"
            name="{{ resource.name }}"
            password="{{ resource.password }}"
            type="{{ resource.type | default('javax.sql.DataSource') }}"
            url="{{ resource.url }}"
            username="{{ resource.username }}"
            {% if resource.validation_query is defined %}
            validationQuery="{{ resource.validation_query }}"
            {% endif %}
             />
        {% endfor %}
     </GlobalNamingResources>

    <Service name="Catalina">
    {% if tomcat_use_https %}
        <Connector port="{{ tomcat_https_port }}"
            protocol="org.apache.coyote.http11.Http11NioProtocol"
            maxThreads="{{ tomcat_max_threads }}"
            connectionTimeout="130000"
         {% if tomcat_compression is defined %}
            compression="{{ tomcat_compression | default('off') }}"
            compressionMinSize="{{ tomcat_compressionMinSize | default('1024') }}"
            noCompressionUserAgents="{{ tomcat_noCompressionUserAgents | default('gozilla, traviata') }}"
            compressibleMimeType="{{ tomcat_compressibleMimeType | default('text/html,text/xml,text/plain,text/css,text/javascript,application/javascript,application/json,application/xml') }}"
         {% endif %}
		 {% if tomcat_max_post_size is defined %}
            maxPostSize="{{ tomcat_max_post_size | default('2097152') }}"
         {% endif %}
            SSLEnabled="true"
            scheme="https"
            secure="true"
            clientAuth="false"
            sslProtocol="TLS"
            {% if tomcat_keystore_file is defined and tomcat_major_version != '10' %}
            keystoreFile="{{ tomcat_keystore_file }}"
            keystorePass="{{ tomcat_keystore_pass }}"
            {% endif %}
            {% if tomcat_max_http_header is defined %}
            maxHttpHeaderSize="{{ tomcat_max_http_header }}"
            {% endif %}
            ciphers="TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384_P521,
                TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384_P384,
                TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA384_P256,
                TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA_P521,
                TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA_P384,
                TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA_P256,
                TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256_P521,
                TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256_P384,
                TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA256_P256,
                TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA_P521,
                TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA_P384,
                TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA_P256,
                TLS_RSA_WITH_AES_256_GCM_SHA384,
                TLS_RSA_WITH_AES_128_GCM_SHA256,
                TLS_RSA_WITH_AES_256_CBC_SHA256,
                TLS_RSA_WITH_AES_256_CBC_SHA,
                TLS_RSA_WITH_AES_128_CBC_SHA256,
                TLS_RSA_WITH_AES_128_CBC_SHA"
        >
        {% if tomcat_keystore_file is defined and tomcat_major_version == '10' %}
        <SSLHostConfig>
            <Certificate certificateKeystoreFile="{{ tomcat_keystore_file }}"
                            certificateKeystorePassword="{{ tomcat_keystore_pass }}"
                            type="RSA" />
        </SSLHostConfig>
        {% endif %}
        </Connector>
    {% endif %}

{% if tomcat_use_ajp %}
        <!-- Define an AJP 1.3 Connector -->
        <Connector executor="tomcatThreadPool" port="{{ tomcat_ajp_port }}" tomcatAuthentication="false" protocol="AJP/1.3" secure="true" scheme="https" proxyPort="443"/>
{% endif %}

        <Engine name="Catalina" defaultHost="localhost">
            <Realm className="org.apache.catalina.realm.LockOutRealm" />

            <!-- <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                resourceName="UserDatabase" /> -->

            <Host name="localhost"
                appBase="{{ tomcat_webapp_dir }}"
                unpackWARs="{{ tomcat_unpack_wars }}"
                autoDeploy="{{ tomcat_auto_deploy }}"
                deployOnStartup="{{ tomcat_deployOnStartup }}"
                workDir="{{ tomcat_work_dir }}" >

{% if using_alt_app_dir %}
                <Context path="/{{ context | regex_replace('#', '/') }}" docBase="{{ tomcat_webapp_dir }}/{{ alt_app_dir_name }}"></Context>
{% endif %}

                <Valve className="org.apache.catalina.valves.AccessLogValve"
                    directory="{{ tomcat_log_dir }}"
                    prefix="{{ tomcat_access_log_prefix }}"
                    suffix="{{ tomcat_access_log_extension }}"
                    pattern="{{ tomcat_access_log_pattern }}" />

            </Host>
        </Engine>
    </Service>
</Server>
