- name: Generate a self-signed private key/certificate in PKCS#5 format
  shell: "openssl req -newkey rsa:2048 {{ ssc_certificate_options }} -keyout {{ ssc_key }} -out {{ ssc_certificate }} -batch"
  args:
    creates: "{{ ssc_key }}"
  become: yes
  become_user: "{{ ssc_user }}"
