# register-s6-process.yml task list
- name: service directory {{ tomcat_s6_services }}/{{ tomcat_service_name }}
  file:
    path: "{{ tomcat_s6_services }}/{{ tomcat_service_name }}"
    mode: "0775"
    state: directory
  become: yes
  become_user: "{{ tomcat_install_as }}"

- name: run script {{ tomcat_s6_services }}/{{ tomcat_service_name }}/run
  template:
    src: "run.j2"
    dest: "{{ tomcat_s6_services }}/{{ tomcat_service_name }}/run"
    mode: "0775"
  become: yes
  become_user: "{{ tomcat_install_as }}"
