#!/usr/bin/env bash

cd "{{ oci_app_service_working_dir }}"

source "{{ oci_app_service_install_home }}/setenv.sh"

if [ -f "{{ oci_app_service_install_home }}/setenv-custom.sh" ]; then
    source "{{ oci_app_service_install_home }}/setenv-custom.sh"
fi

exec {{ oci_app_startup_command }} {{ oci_app_startup_options }}
