<Context allowCasualMultipartParsing="{{ allow_casual_multipart_parsing | default('false') }}">

{% for param in webapp_war.parameters | default([]) %}
    <Parameter name="{{ param.name }}" value="{{ param.value }}"/>
{% endfor %}

{% for resource in webapp_war.jndi_resources | default([]) %}
    <Resource auth="Container" 
{% if resource.factory is defined %}
        factory="{{ resource.factory }}"
{% else %}
        factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
{% endif %}
        name="{{ resource.name }}" 
        type="{{ resource.type | default('javax.sql.DataSource') }}"
        driverClassName="{{ resource.driver | default('oracle.jdbc.OracleDriver') }}"  
        url="{{ resource.url }}" 
        username="{{ resource.username }}" 
        password="{{ resource.password }}"
        maxActive="{{ resource.max_active | default('10') }}" 
        maxIdle="{{ resource.max_idle | default('10') }}" 
        minIdle="{{ resource.min_idle | default('1') }}"
        initialSize="{{ resource.initial_size | default('3') }}"
        maxWait="{{ resource.max_wait | default('-1') }}"
        testOnBorrow="{{ resource.test_on_borrow | default('false') }}"
        testWhileIdle="{{ (resource.test_while_idle | default('yes')) | ternary('true', 'false') }}"
        validationQuery="{{ resource.validationQuery | default('SELECT sysdate from dual') }}"
        timeBetweenEvictionRunsMillis="{{ resource.timeBetweenEvictionRunsMillis | default('30000') }}"
        removeAbandoned="{{ (resource.removeAbandoned | default('yes')) | ternary('true', 'false') }}"
        removeAbandonedTimeout="{{ resource.removeAbandonedTimeout | default('60') }}"
	accessToUnderlyingConnectionAllowed="{{ resource.underlying_connection | default('false') }}"
{% if resource.initSQL is defined %}
        initSQL="{{ resource.initSQL }}"
{% endif %}
    />
{% endfor %}
</Context>
