{
  "cloud": {
    "target": {
      "propStrategy": "merge",
      "prop": {
{% if _jdk_type | length > 0 %}
        "jdk_type": "{{ _jdk_type }}",
{% endif %}
{% if _jdk_major_version | length > 0 %}
        "jdk_major_version": "{{ _jdk_major_version }}",
{% endif %}
{% if _jdk_url | length > 0 %}
        "jdk_url": "{{ _jdk_url }}",
{% endif %}
{% if _tomcat_version | length > 0 %}
        "tomcat_version": "{{ _tomcat_version }}",
{% endif %}
{% if _tomcat_port | length > 0 %}
        "port": "{{ _tomcat_port }}",
{% endif %}
        "collection": "nr-polaris-collection"
      },
      "instance": {
        "name": "{{ inventory_hostname }}"
      }
    }
  }
}
